[Desktop Entry]
Type=Application
Exec=Linphone-4.4.1.AppImage
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[pt_BR]=Linphone
Name=Linphone
Comment[pt_BR]=Linphone
Comment=Linphone
